#album
{
    margin-top: -50px;
}
h1.titulos 
{
    color:white;
    font-family: 'Inconsolata', monospace;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
}
     

ul#album-fotos{        /*criou -se uma lista em html, depois com css a lista ficou com o formato de quadrados a flutuar*/
    width: auto;   /*no ecra. mudou-se por fim o background de cada quadrado atraves do url, cada <li> levou um id*/
    margin: 0px;    /*e assim usa-se ul#album-fotos li#foto01{ */
    padding: 50px;
    overflow: hidden;
    list-style: none;
    /*height: 775px;  */
}

ul#album-fotos li{
    float:left;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid rgb(249, 253, 250);
    background-color: #8d8741;
    box-shadow: 1px 1px 3px #daa520;
    -webkit-transition: all .4s ease-in;        /*efeito webkit para o zoom */
}

ul#album-fotos li span{     /*para tornar a legenda invisivel*/
    opacity:0;              /*opacity 0*/
    color: #edf5e1;
    text-shadow: 1px 1px 1px #907163;
    background-color: #daa520;
    font-size: 11pt;
    line-height: 0px;     /*coloca a legenda no fundo*/
    padding: 5px;

}

ul#album-fotos li:hover{
    -webkit-transform: scale(1.5);
    cursor: pointer;
    
}




ul#album-fotos li#foto01{
    background: url("../images/phpForm1.png");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    background-size: 100px 100px;
    background-color: aliceblue;
}

ul#album-fotos li#foto01:hover{
    background-position: 0px 0px;
    background-size: 100px 100px;

}

ul#album-fotos li#foto02{
    background: url("../images/phpEmpresa1.png");
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;       /*centra a imagem a meio*/
    background-size: 100px 100px;
    background-color: aliceblue;
}

ul#album-fotos li#foto02:hover{
    background-position: 0px 0px;
    background-size: 100px 100px;

}
ul#album-fotos li#foto03{
    background: url("../images/php_pro81.png");
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;       /*centra a imagem a meio*/
    background-size: 100px 100px;
    background-color: aliceblue;
}

ul#album-fotos li#foto03:hover{
    background-position: 0px 0px;
    background-size: 100px 100px;

}
ul#album-fotos li#foto04{
    background: url("../images/phpCookies.png");
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;       /*centra a imagem a meio*/
    background-size: 100px 100px;
    background-color: aliceblue;
}

ul#album-fotos li#foto04:hover{
    background-position: 0px 0px;
    background-size: 100px 100px;

}
ul#album-fotos li#foto05{
    background: url("../images/php_cookies.png");
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;       /*centra a imagem a meio*/
    background-size: 100px 100px;
    background-color: aliceblue;
}

ul#album-fotos li#foto05:hover{
    background-position: 0px 0px;
    background-size: 100px 100px;

}
ul#album-fotos li#foto06{
    background: url("../images/phpBusTemp.png");
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;       /*centra a imagem a meio*/
    background-size: 100px 100px;
    background-color: aliceblue;
}

ul#album-fotos li#foto06:hover{
    background-position: 0px 0px;
    background-size: 100px 100px;

}
ul#album-fotos li#foto07{
    background: url("../images/phpSistemaLogin.png");
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;       /*centra a imagem a meio*/
    background-size: 100px 100px;
    background-color: aliceblue;
}

ul#album-fotos li#foto07:hover{
    background-position: 0px 0px;
    background-size: 100px 100px;

}
ul#album-fotos li#foto08{
    background: url("../images/efareport.png");
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;       /*centra a imagem a meio*/
    background-size: 100px 100px;
    background-color: aliceblue;
}

ul#album-fotos li#foto08:hover{
    background-position: 0px 0px;
    background-size: 100px 100px;

}
ul#album-fotos li#foto09{
    background: url("../images/tarefasPhp.png");
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;       /*centra a imagem a meio*/
    background-size: 100px 100px;
    background-color: aliceblue;
}

ul#album-fotos li#foto09:hover{
    background-position: 0px 0px;
    background-size: 100px 100px;

}
ul#album-fotos li#foto10{
    background: url("../images/form2_php.png");
    background-size:     contain;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;       /*centra a imagem a meio*/
    background-size: 100px 100px;
    background-color: aliceblue;
}

ul#album-fotos li#foto10:hover{
    background-position: 0px 0px;
    background-size: 100px 100px;

}



@media only screen and (max-width: 600px) {
    ul#album-fotos li {
        float:left;
        width: 100px;
        height: 100px;
    }
  }
