.kinetic{
    position: relative; /*CLASSE PAI*/
    height: 10px;
    width: 20px;
    margin: 5px;
    left: 50%;
    transform: translateX(-100%);
}

.kinetic::after, .kinetic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: #333;
    /* border-top-color: #fff; */
  /*  border-left-color: #fff;*/
   /* border-right-color: #fff; */
    animation: rotacaoA 2s linear infinite 0.5s;
}

.kinetic::before {
    transform: rotate(90deg);
    animation: rotacaoB 2s linear infinite;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////*/
#myProgress {
    width: 97%;
    background-color: grey;
    border-radius: 30px;
}

#myBar {
    width: 1%;
    height: 40px;
    background-color: #daa520;
    border-radius: 30px;
    text-align: center;
    font-size: 3rem;
    font-family: 'Inconsolata', sans-serif;
    font-weight: 900;
    color: black;
}

#exper {
    margin-top: 20rem;
    margin-bottom: 0;
}

@keyframes rotacaoA {
    0%, 25% {
        transform: rotate(0deg);
    }
    50%, 75% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotacaoB {
    0%, 25% {
        transform: rotate(90deg);
    }
    50%, 75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(450deg);
    }
}