/*article#album{
    position: block;
    float: left;
    margin-top: -50px;
     
}*/
/*
h1.ranks{
    background-color: #daa520;
    font-family: 'Courier New', Courier, monospace;
    color: #0e0f0c;
    font-size: 15pt;
    border-radius: 50px;
    text-align: center;
    /*margin-top: 170px;*/

#album
{
    margin-top: -50px;
}
h1.titulos 
{
    color:white;
    font-family: 'Azeret Mono', monospace;
    font-weight: 800;
    text-align: center;
}
     

ul#album-fotos{        /*criou -se uma lista em html, depois com css a lista ficou com o formato de quadrados a flutuar*/
    width: auto;   /*no ecra. mudou-se por fim o background de cada quadrado atraves do url, cada <li> levou um id*/
    margin: 0px;    /*e assim usa-se ul#album-fotos li#foto01{ */
    padding: 50px;
    overflow: hidden;
    list-style: none;
    /*height: 775px;  */
}

ul#album-fotos li{
    float:left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 2px solid rgb(249, 253, 250);
    background-color: #8d8741;
    box-shadow: 1px 1px 3px #daa520;
    -webkit-transition: all .4s ease-in;        /*efeito webkit para o zoom */
}

ul#album-fotos li span{     /*para tornar a legenda invisivel*/
    opacity:0;              /*opacity 0*/
    color: #edf5e1;
    text-shadow: 1px 1px 1px #907163;
    background-color: #daa520;
    font-size: 11pt;
    line-height: 0px;     /*coloca a legenda no fundo*/
    padding: 5px;

}

ul#album-fotos li:hover{
    -webkit-transform: scale(1.5);
    cursor: pointer;
    
}




ul#album-fotos li#foto01{
    background: url("images/js_hrnum.png");
    background-position: auto;
    background-size: 200px 200px;
    background-color: aliceblue;
}

ul#album-fotos li#foto01:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;

}

ul#album-fotos li#foto02{
    background: url("images/js_listaTodo.png");
    background-position: auto;       /*centra a imagem a meio*/
    background-size: 200px 200px;
    background-color: aliceblue;
}

ul#album-fotos li#foto02:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;

}

ul#album-fotos li#foto03{
    background: url("images/js_calc.png");
    background-position: auto;
    background-size: 200px 200px;
    background-color: aliceblue;
}

ul#album-fotos li#foto03:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;

}

ul#album-fotos li#foto04{
    background: url("images/js_small_pro.png");
    background-position: auto;
    background-size: 200px 200px;
    background-color: aliceblue;
}

ul#album-fotos li#foto04:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;

}

ul#album-fotos li#foto05{
    background: url("images/js_album_fotos.png");
    background-position: auto;
    background-size: 280px 280px;
    background-color: aliceblue;
}

ul#album-fotos li#foto05:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;

}
ul#album-fotos li#foto06{
    background: url("images/js_passo_passo.png");
    background-position: auto;
    background-size: 175px 175px;
    
    background-color: aliceblue;
}

ul#album-fotos li#foto06:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;

}
ul#album-fotos li#foto07{
    background: url("images/js_nav_rot.png");
    background-position: auto;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-color: aliceblue;
}

ul#album-fotos li#foto07:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;

}
ul#album-fotos li#foto08{
    background: url("images/js_blur.png");
    background-position: auto;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-color: aliceblue;
}

ul#album-fotos li#foto08:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;

}
ul#album-fotos li#foto09{
    background: url("images/js_scrollAnimado.png");
    background-position: auto;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-color: aliceblue;
}

ul#album-fotos li#foto09:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto10{
    background: url("images/js_noite_dia.png");
    background-position: auto;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-color: aliceblue;
}

ul#album-fotos li#foto10:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto11{
    background: url("images/js_autocarro.png");
    background-position: auto;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-color: aliceblue;
}

ul#album-fotos li#foto11:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto12{
    background: url("images/js_loginAni.png");
    background-position: auto;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-color: aliceblue;
}

ul#album-fotos li#foto12:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto13{
    background: url("images/js_soundBoard.png");
    background-position: auto;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-color: aliceblue;
}

ul#album-fotos li#foto13:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto14{
    background: url("images/js_jokes.png");
    background-position: auto;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-color: aliceblue;
}

ul#album-fotos li#foto14:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto15{
    background: url("images/js_keyCode.png");
    background-position: auto;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-color: aliceblue;
}

ul#album-fotos li#foto15:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto16{
    background: url("images/js_perguntas.png");
    background-position: auto;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-color: aliceblue;
}

ul#album-fotos li#foto16:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

@media only screen and (max-width: 600px) {
    ul#album-fotos li {
        float:left;
        width: 100px;
        height: 100px;
    }
  }
